<div class="ui top fixed menu inverted large">
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <a href="/home/"  class="item">Home</a>
    <a href="/user/" class="item">User</a>
    <a href="/sosuri/" class="item">Sosuri</a>
    <a href="/sandwich/" class="item">Sandwich</a>
    <a href="/salate/" class="item">Salate</a>
    <a href="/pizza/" class="item">Pizza</a>
    <!-- <a  class="item">Deserturi</a> -->
    <a href="/comentariu/" class="item">Comentariu</a>
    <a href="/bauturi/" class="item">Bauturi</a>

  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <router-outlet></router-outlet>
  </sui-sidebar-sibling>
</sui-sidebar-container>