<p-dataTable [value]="sandwich" selectionMode="single" [(selection)]="selectedSandwich" [contextMenu]="cm"  [paginator]="true" rows="15" [responsive]="true">
  <p-header>CRUD for Sandwich</p-header>
  <p-column field="san_tip" header="Sandwich_tip" [sortable]="true"></p-column>
  <p-column field="san_descriere" header="Sandwich_descriere" [sortable]="true"></p-column>
  <p-column field="san_pret" header="Sandwich_pret" [sortable]="true"></p-column>
  <p-column field="san_gramaj" header="Sandwich_gramaj" [sortable]="true"></p-column>
  <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
</p-dataTable>

  
  <p-contextMenu #cm [model]="items"></p-contextMenu>
<p-dialog header="Sandwich Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="sandwich_tip">Sandwich_tip</label></div>
          <div class="ui-grid-col-8"><input pInputText id="sandwich_tip" [(ngModel)]="sandwich.sandwich_tip" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="sandwich_descriere">Sandwich_descriere</label></div>
          <div class="ui-grid-col-8"><input pInputText id="sandwich_descriere" [(ngModel)]="sandwich.sandwich_descriere" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="sandwich_pret">Sandwich_pret</label></div>
          <div class="ui-grid-col-8"><input pInputText id="sandwich_pret" [(ngModel)]="sandwich.sandwich_pret" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="sandwich_gramaj">Sandwich_gramaj</label></div>
          <div class="ui-grid-col-8"><input pInputText id="sandwich_gramaj" [(ngModel)]="sandwich.sandwich_gramaj" /></div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
         
      </div>
  </p-footer>
</p-dialog>
