<p-dataTable [value]="salate" selectionMode="single" [(selection)]="selectedSalate" [contextMenu]="cm"  [paginator]="true" rows="15" [responsive]="true">
  <p-header>CRUD for Salate</p-header>
  <p-column field="sal_tip" header="Salate_tip" [sortable]="true"></p-column>
  <p-column field="sal_descriere" header="Salate_descriere" [sortable]="true"></p-column>
  <p-column field="sal_pret" header="Salate_pret" [sortable]="true"></p-column>
  <p-column field="sal_gramaj" header="Salate_gramaj" [sortable]="true"></p-column>
  <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
</p-dataTable>

  
  <p-contextMenu #cm [model]="items"></p-contextMenu>
<p-dialog header="Salate Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="salate_tip">Salate_tip</label></div>
          <div class="ui-grid-col-8"><input pInputText id="salate_tip" [(ngModel)]="salate.salate_tip" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="salate_descriere">Salate_descriere</label></div>
          <div class="ui-grid-col-8"><input pInputText id="salate_descriere" [(ngModel)]="salate.salate_descriere" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="salate_pret">Salate_pret</label></div>
          <div class="ui-grid-col-8"><input pInputText id="salate_pret" [(ngModel)]="salate.salate_pret" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="salate_gramaj">Salate_gramaj</label></div>
          <div class="ui-grid-col-8"><input pInputText id="salate_gramaj" [(ngModel)]="salate.salate_gramaj" /></div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
          <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>

